* {
    font-family: Helvetica, arial, sans-serif;
}

.widget.container {
    position: relative;
    width: 1200px;
    height: 900px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.graph.pie {
    display: none;
    height: 300px;
}

.main.graph.widget {
    height: 600px;
}

.range.graph.widget {
    height: 150px;
}

.widget.container .panel.container {
    float: right;
    width: 400px;
    height: 600px;
}

.controls {
    margin-top: 40px;
    margin-left: 30px;
}

.ui-slider {
    height: 6px;
}

.ui-slider .ui-slider-handle {
    height: 0.9em;
    width: 0.3em;
}

.ui-slider-horizontal .ui-slider-handle {
    margin-left: -0.3em;
}
