* {
    font-family: Helvetica, arial, sans-serif;
}

.widget .column {
    margin-left: 0px;
}

.widget .row {
    margin-left: 0px;
}

.widget.container {
    margin-top: 30px;
    margin-bottom: 30px;
}

.graph.pie {
    display: none;
    height: 200px;
}

.main.graph {
    height: 500px;
}

.range.graph {
    height: 120px;
}

.widget.container .panel.container {
    float: right;
    width: 400px;
    height: 600px;
}

.ui-slider {
    height: 6px;
}

.ui-slider .ui-slider-handle {
    height: 0.9em;
    width: 0.3em;
}

.ui-slider-horizontal .ui-slider-handle {
    margin-left: -0.3em;
}

.stats.panel ul {
    -webkit-padding-start: 0px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.stats li {
    list-style-position: inside;
    list-style-type: none;
}

.color-box {
    width: 16px;
    height: 12px;
    border: 0.5px;
    padding: 0px;
    display: inline-block;
    margin-right: 4px;
}

.stats.panel h3, .ui-accordion-content {
    background-color: white;
    border: 0px;
}

input.target {
    display: inline-block;
    outline: none;
    margin-left: 30px;
    margin-bottom: 10px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-color: #ccc;
    font-size: 1.2em;
    min-width: 200px;
}

.freq {
    display: inline-block;
}

div.selectable {
    margin-top: 30px;
}

div.hour {
    display: inline-block;
    width: 26px;
    height: 20px;
    margin: 0px;
    padding-left: 4px;
    font-size: 0.7em;
    border-right: 0px;
    border-top: 0px;
}

.ui-selected, .ui-selecting {
    background: rgb(175, 216, 248);
    color: white;
}
