* {
    font-family: Helvetica, arial, sans-serif;
}

.widget.container {
    position: relative;
    width: 1200px;
    height: 900px;
}

/*
.graph.widget {
    top: 0;
    left: 0;
    width: 900px;
}*/

.main.graph.widget {
    height: 600px;
}

.range.graph.widget {
    height: 150px;
}

.widget.container .panel.container {
    float: right;
    width: 400px;
    height: 600px;
}

.dayRange {
    width: 200px;
}

.controls {
    margin: 10px;
}

.ui-slider {
    height: 6px;
}

.ui-slider .ui-slider-handle {
    height: 0.9em;
    width: 0.3em;
}

.ui-slider-horizontal .ui-slider-handle {
    margin-left: -0.3em;
}
