* {
    font-family: Helvetica, arial, sans-serif;
}

.widget.container {
    position: relative;
    width: 1200px;
    height: 900px;
    margin: 30px;
}

.graph.pie {
    display: none;
    height: 300px;
}

.main.graph.widget {
    height: 600px;
}

.range.graph.widget {
    height: 150px;
}

.widget.container .panel.container {
    float: right;
    width: 400px;
    height: 600px;
}

.controls {
    margin-top: 40px;
    margin-left: 30px;
}

.ui-slider {
    height: 6px;
}

.ui-slider .ui-slider-handle {
    height: 0.9em;
    width: 0.3em;
}

.ui-slider-horizontal .ui-slider-handle {
    margin-left: -0.3em;
}

.stats.panel ul {
    -webkit-padding-start: 0px;
}

.stats li {
    list-style-position: inside;
    list-style-type: none;
}

.color-box {
    width: 8px;
    height: 12px;
    border: 0.5px;
    padding: 0px;
    display: inline-block;
    margin-right: 4px;
}

input.metric {
    margin-bottom: 10px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-color: #ccc;
    width: 400px;
}
