<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script data-main="js/main-req" src="js/libs/require.js"></script>
</head>
<body>
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->
    <!--div><h1>Graphs Without Borders</h1></div-->


    <!-- Templates -->
    <script type="text/template" id="widget-template">
        <div class="row span12" id="top">
            <input type="text" class="span6 target"></input>
            <div class="span3 freq"></div>
        </div>
        <div class="row span12" id="main">
            <div class="column span9" id="graph">
                <div class="main graph span9"></div>
                <div class="range graph span9"></div>
            </div>
            <div class="column span3" id="panel" style="padding-left:20px">
                <div class="pie graph span3"></div>
                <div class="stats panel span3"></div>
            </div>
        </div>
        <div class="selectable dayrange span9">
            <div class="hour ui-widget-content" id="0">0</div>
            <div class="hour ui-widget-content" id="1">1</div>
            <div class="hour ui-widget-content" id="2">2</div>
            <div class="hour ui-widget-content" id="3">3</div>
            <div class="hour ui-widget-content" id="4">4</div>
            <div class="hour ui-widget-content" id="5">5</div>
            <div class="hour ui-widget-content" id="6">6</div>
            <div class="hour ui-widget-content" id="7">7</div>
            <div class="hour ui-widget-content" id="8">8</div>
            <div class="hour ui-widget-content" id="9">9</div>
            <div class="hour ui-widget-content" id="10">10</div>
            <div class="hour ui-widget-content" id="11">11</div>
            <div class="hour ui-widget-content" id="12">12</div>
            <div class="hour ui-widget-content" id="13">13</div>
            <div class="hour ui-widget-content" id="14">14</div>
            <div class="hour ui-widget-content" id="15">15</div>
            <div class="hour ui-widget-content" id="16">16</div>
            <div class="hour ui-widget-content" id="17">17</div>
            <div class="hour ui-widget-content" id="18">18</div>
            <div class="hour ui-widget-content" id="19">19</div>
            <div class="hour ui-widget-content" id="20">20</div>
            <div class="hour ui-widget-content" id="21">21</div>
            <div class="hour ui-widget-content" id="22">22</div>
            <div class="hour ui-widget-content" id="23">23</div>
        </div>
    </script>

    <script type="text/template" id="stat-template">
    <h3><div class="color-box"></div>
        <%- label %></h3>
        <div>
            <ul>
                <li>Frequency: <%- freq %></li>
                <li>Mean: <%- mean %></li>
                <li>Sum: <%- sum %></li>
                <li>Variance: <%- variance %></li>
            </ul>
            <input type="checkbox" id="isolate<%- index %>"
                class="isolate-button" />
                <label for="isolate<%- index %>">Separate Y-Axis</label>
        </div>
    </script>

</body>
</html>
